<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/style/main.css" />
  </head>
  <body>
    <h1>SI</h1>
    <a href="../index.html"> ir a Home </a>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
      repudiandae itaque sit distinctio velit, atque similique laudantium
      officiis nulla laboriosam, delectus porro aliquam iure? Repellat vel earum
      est reprehenderit harum.
    </p>

    <pre>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eum cumque sunt dolor architecto iure quaerat, vel autem nisi aut animi amet totam unde. Vero eius impedit delectus aspernatur eveniet.

      <code>
        a + b = ?

        	&lt; h1 &gt; &#128514;
      </code>
    </pre>
    <div class="container">
      <div class="nav_grid">1</div>
      <div class="content_grid">2</div>
      <div class="sidebar_grid">3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
      <div class="flex_container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        

      </div>
    </div>
  </body>
</html>
