#primero {
  background-color: beige;
}
a:hover {
  background-color: chocolate;
}
h2:hover {
  background-color: blueviolet;
}
h1:hover {
  background-color: blueviolet;
}

p strong {
  background-color: green;
}
p:hover {
  background-color: cornflowerblue;
  opacity: 15px;
}
ol:first-line {
  background-color: brown;
}
li:last-child {
  background-color: gray;
}
p::first-letter {
  font-size: x-large;
}
#primero {
  padding: 10px 50px 30px 55px;
}
#segundo {
  border: 5px;
  border-style: outset;
  border-color: blue;
  border-radius: 25px;
}
#tercero {
  margin: 50px;
}
#primero {
  background-image: url("../img/itadori.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
}
.container {
  display: grid;
  
  grid-template-columns: auto auto auto;
  gap: 10px;

}
.container > div {
  background-color: aquamarine;
  
}
.nav_grid{
  grid-column-start: 1;
  grid-column-end: 4;
}
.content_grid{
  grid-column-start: 1;
  grid-column-end: 3;
}
.sidebar_grid{
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}
.footer_grid{
  grid-column-start: 1;
  grid-column-end: 4;

}